<div data-ng-init="init()">
    <h3>USER DETAIL </h3> 
    <a ui-sref="app">BACK</a>
    <div class="row">
    	<div class="col-md-4 col-md-offset-3">
			<table class="table table-condensed">
				<tr>
					<td>ID</td>
					<td>{{user.id}}</td>
				</tr>
				<tr>
					<td>NAME</td>
					<td>{{user.name}}</td>
				</tr>
				<tr>
					<td>USER NAME</td>
					<td>{{user.username}}</td>
				</tr>
				<tr>
					<td>EMAIL</td>
					<td>{{user.email}}</td>
				</tr>
				<tr>
					<td>ADDRESS</td>
					<td><address val="user.address"></address></td>
				</tr>
				<tr>
					<td>PHONE</td>
					<td>{{user.phone}}</td>
				</tr>
				<tr>
					<td>WEBSITE</td>
					<td>{{user.website}}</td>
				</tr>
				<tr>
					<td>COMPANY</td>
					<td>{{user.company.name}}</td>
				</tr>
			</table>
    	</div>
    </div>	
</div>

