<div data-ng-init="init()">
    <h3>USER LIST</h3>
    <div class="row" ng-show="userList.length>0">
    	<div class=col-md-12>
    		<table class="table table-condensed">
    			<thead>
    				<tr>
	    				<th>NAME</th>
	    				<th>USER NAME</th>
	    				<th>EMAIL</th>
	    				<th>ADDRESS</th>
    				</tr>
    			</thead>
    			<tbody>
    				<tr ng-repeat="user in userList | orderBy:'-name' track by $index">
    					<td><a ui-sref="detail({userID: '{{user.id}}'})">{{user.name}}</a></td>
    					<td>{{user.username}}</td>
    					<td>{{user.email}}</td>
    					<td><address val="user.address"></address></td>
    				</tr>
    			</tbody>
    		</table>
    	</div>
    </div>
</div>